<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}East Africa Humanitarian Data{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a class="brand" href="/">East Africa Data Platform</a>
        <a class="link" href="/">Home</a>
        <a class="link" href="/countries">Countries</a>
    </nav>
    <div class="page">
        {% block content %}{% endblock %}
    </div>
</body>
</html>